<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eon.mapper.GuaranteeItemMapper">
    <select id="selectByGuaranteeId" resultType="GuaranteeItem">
        select * from guaranteeItem where guarantee_id = #{id}
    </select>

    <update id="update">
        UPDATE guaranteeItem SET remark = #{remark} WHERE id = #{id}
    </update>

    <insert id="save" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO guaranteeItem (remark,guarantee_id,guaranteeTime) VALUES (#{remark},#{id},#{guaranteeTime})
    </insert>

    <delete id="delete">
        DELETE FROM guaranteeItem WHERE id = #{id}
    </delete>

</mapper>