<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eon.mapper.MenuMapper">
    <resultMap id="getChildMenus" type="Menu">
        <id column="id" property="id"/>
        <result column="text" property="text"/>
        <result column="state" property="state"/>
        <result column="checked" property="checked"/>
        <result column="attributes" property="attributes"/>
        <result column="resource" property="resource"/>
        <!-- fetchType="eager"急切的加载 解决转换json时由于懒加载递归太深抛出的异常 -->
        <collection column="id" property="children" ofType="Menu" select="queryChildMenu" fetchType="eager"/>
    </resultMap>

    <select id="queryRootMenu" resultMap="getChildMenus">
        SELECT * FROM menu WHERE parent_id IS NULL
    </select>

    <select id="queryChildMenu" resultMap="getChildMenus">
        SELECT * FROM menu WHERE parent_id = #{id}
    </select>
</mapper>
