<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eon.mapper.SystemDictionaryMapper">
    <select id="list" resultType="SystemDictionary">
        SELECT * FROM systemdictionary
    </select>
</mapper>